body {
  margin: 0;
  --color-bone: #e4d6bd;
  --color-off-white: #faf7f2;
}

main {
  font-family: Verdana;
  background: linear-gradient(45deg, #141e30, #243b55);
  color: var(--color-bone);
}

header {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 600px;
}

h1 {
  margin-bottom: 0;
  font-size: 40px;
}

p {
  font-size: 18px;
  margin-top: 5px;
}

#header-container {
  display: flex;
  justify-content: center;
  padding: 0 10px;
}

.form-container {
  clear: both;
  display: flex;
  justify-content: center;
  padding: 0 10px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  margin-bottom: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

input:focus,
input[type="checkbox"]:focus,
input[type="radio"]:focus,
textarea:focus,
select:focus {
  outline: none;
  box-shadow: 0 0 5px 3px var(--color-bone);
}

[type="text"],
[type="email"],
[type="number"],
select {
  height: 1.3em;
  padding-left: 5px;
  background-color: var(--color-off-white);
}

[type="text"],
[type="email"],
[type="number"],
select,
form,
textarea {
  font-size: 20px;
}

input,
textarea, 
fieldset, 
select {
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid var(--color-bone)
}


textarea {
  font-family: verdana;
  padding: 5px 10px;
  background-color: var(--color-off-white);
  min-height: 4em;
  resize: vertical;
}

#submit {
  width: 5em;
  height: 1.5em;
  margin: 10px auto 0 auto;
  font-size: 20px;
  background-color: var(--color-off-white);
  cursor: pointer;
}

#submit:hover {
  background-color: var(--color-bone)
}

#header-form {
  border-left: 10px dashed var(--color-off-white);
  border-right: 10px dashed var(--color-off-white);
  width: 55%;
  min-width: 400px;
  margin: auto;
}

@media (max-width: 25em){
  #header-form {
    border-left: none;
    border-right: none;
    width: 90%;
    min-width: 0;
  }
  [type="number"] {
    width: 50%;
  }
}